block vars
    - var title='Title'

extends ../../partials/layout

block content
    main
        .object--top(style="background: url('../../../img/bg--zhelyabovo-top.jpg') no-repeat 50% 50%")
            .width-wrap
                ul.breadcrumbs
                    li
                        a(href="") Древо
                    li
                        a(href="") Объекты
                    li
                        span Желябово

                h1 Желябово

        ul.object--social.mb-70
            li.one-fourth.bg-red
                a(href="")
                    img(src="../../../img/icon--globus-white.svg" alt /)
                    br
                    span желябово.рф
            li.one-fourth.bg-blue-d
                a(href="")
                    img(src="../../../img/icon--fb-white.svg" alt /)
                    span желябово.рф
            li.one-fourth.bg-blue-l
                a(href="")
                    img(src="../../../img/icon--vk-white.png" alt /)
                    span желябово.рф
            li.one-fourth.bg-beige
                a(href="")
                    img(src="../../../img/icon--in-white.svg" alt /)
                    span желябово.рф

        .width-wrap.justifyed.mb-70
            .one-half
                img(src="../../../img/logo--zhel.jpg" alt /).logo

                h6 ЖЕЛЯБОВО.РФ ДЛЯ АКТИВНЫХ!

                p  Уникальное предложение проекта — новый формат жизни в «старом городе», редкая возможность приобрести современное, комфортное, доступное по цене жилье, так близко к исторической части Самары!  Буквально в считанных минутах езды располагаются парки, набережная, театры, музеи и стадионы. Покупая жилье в Желябово.РФ, Вы получаете уникальную возможность вести активный, здоровый образ жизни, гулять, посещать театральные и концертные премьеры так близко от Вашего дома.


            .one-half
                p Девелоперская компания &laquo;Древо&raquo; представляет новый проект программы &laquo;Народный дом&raquo;&nbsp;&mdash; Желябово.РФ!

                p Желябово.РФ&nbsp;&mdash; это возможность выгодно купить квартиру от&nbsp;застройщика Железнодорожном районе Самары! Обратите внимание, что в&nbsp;ближайшем окружении, ЖК&nbsp;Желябово.РФ&nbsp;&mdash; практически единственный новый объект строительства.

                img(src="../../../img/img--zhel-1.jpg" alt /)

        .object-slider.fullpage--inner-slider.mb-70
            div(style="background: url('../../../img/img--slider-zhel-1.jpg') no-repeat 50% 50%" alt /)
            div(style="background: url('../../../img/img--slider-avenue-2.jpg') no-repeat 50% 50%" alt /)

        .width-wrap
            .justifyed.mb-70
                .one-half
                    h6 ЖЕЛЯБОВО.РФ ДЛЯ СОВРЕМЕННЫХ!
                    p Набор планировок квартир подобран сообразно запросам современного центра города: имеются как небольшие уютные квартиры-студии, так и&nbsp;3-х комнатные квартиры с&nbsp;кухнями-столовыми, кладовыми и&nbsp;2-мя спальнями.
                    p Из&nbsp;окон многоэтажного жилого комплекса Желябово.рф открываются роскошные панорамы рек Волги и&nbsp;Самары, стрелки рек, и, конечно&nbsp;же, центральной, исторической части Самары. Большинство 2-х и&nbsp;3-х комнатных квартир выходят окнами на&nbsp;2&nbsp;стороны.

                .one-half
                    img(src="../../../img/img--zhel-2.jpg" alt /)

            .justifyed.mb-70
                .one-half
                    img(src="../../../img/img--zhel-3.jpg" alt /)
                    img(src="../../../img/img--zhel-4.jpg" alt /)

                .one-half
                    h6 ЖЕЛЯБОВО.РФ ДЛЯ МОЛОДЫХ СЕМЕЙ И&nbsp;СТУДЕНТОВ!
                    p Жилой комплекс удобен для семей с&nbsp;маленькими детьми и&nbsp;подростками, а&nbsp;также для студентов. Рядом располагается парк Щорса с&nbsp;аттракционами для детей, в&nbsp;2-х минутах езды площадь Куйбышева с&nbsp;уютными скверами, а&nbsp;также благоустроенная набережная и&nbsp;пляж на&nbsp;Волге. В&nbsp;шаговой доступности находятся школы и&nbsp;детские сады.
                    p В&nbsp;пяти минутах ходьбы&nbsp;&mdash; большая транспортная развязка на&nbsp;Комсомольской площади. Отсюда быстро и&nbsp;удобно можно добраться до&nbsp;ведущих вузов города.

                    h6 ЖЕЛЯБОВО.РФ ДЛЯ ЦЕНИТЕЛЕЙ УЮТА!
                    p Желябово.РФ будет иметь собственную, уютно обособленную, благоустроенную территорию с&nbsp;оборудованными детскими и&nbsp;спортивными площадками, удобный паркинг на&nbsp;300&nbsp;машиномест. На&nbsp;первых этажах секций расположатся коммерческие помещения, где разместятся магазины, аптека и&nbsp;банк.

                    h6 ДОБРО ПОЖАЛОВАТЬ В&nbsp;ЖЕЛЯБОВО.РФ!

        ul.justifyed.object--info
            li.one-third.bg-red
                span 3 938 кв.м.
                    i площадь
                    i под офисы

            li.one-third.bg-green
                span Ы 2-х минутах
                    i езды площадь
                    i куйбышева

            li.one-third.bg-blue
                span 300 машиномест
                    i в крытом
                    i паркинге

        .justifyed
            a(href="" style="background: url('../../../img/bg--zhel-2.jpg') no-repeat 50% 50%").one-half.objects-complex-s
                .content
                    h3
                        strong Продажа
                            i  активов

                        small Желябово


            a(href="" style="background: url('../../../img/bg--zhel-3.jpg') no-repeat 50% 50%").one-half.objects-complex-s
                .content
                    h3
                        strong Аренда
                            i коммерческой
                            i недвижимости
                        small  Желябово


    footer.section.footer
        include ../../partials/footer

        <!-- Этот скрипт на сервере всегда удалять -->
        script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/avenue-object.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});





