block vars
    - var title='Title'

extends ../../partials/layout

block content
    main
        .width-wrap
            ul.breadcrumbs
                li
                    a(href="") Древо
                li
                    a(href="") О компании
                li
                    span Контакты

            h1 Контакты

            .contacts-top
                span.title ООО ДК «Древо»

                span 443036, г. Самара, ул. Неверова, 33
                span Единая горячая линия:
                    a(href="tel:88007005522") 8-800-700-55-22

            .contacts.accordeon
                .contacts--department
                    .acc_trigger
                        .icon
                        span Отдел продаж

                    div(style="background: url('../../../img/img--contacts.jpg') no-repeat 100% 0").acc_container
                        ul.contacts-list
                            li
                                span
                                    strong Адрес:

                                p г. Самара, ул. Печерская, 20а

                            li
                                span
                                    strong Телефон:

                                a(href="tel:88462640064") 8 (846) 264-00-64

                            li
                                span
                                    strong Режим работы:

                                p пн-пт 9:00-18:00

                            li
                                span
                                    strong E-mail:

                                a(href="mailto:sale@dkdrevo.ru") sale@dkdrevo.ru

                .contacts--department
                    .acc_trigger
                        .icon
                        span Домостроительный комбинат «Древо»

                    div(style="background: url('../../../img/img--contacts.jpg') no-repeat 100% 0").acc_container
                        ul.contacts-list
                            li
                                span
                                    strong Адрес:

                                p г. Самара, ул. Печерская, 20а

                            li
                                span
                                    strong Телефон:

                                a(href="tel:88462640064") 8 (846) 264-00-64

                            li
                                span
                                    strong Режим работы:

                                p пн-пт 9:00-18:00

                            li
                                span
                                    strong E-mail:

                                a(href="mailto:sale@dkdrevo.ru") sale@dkdrevo.ru

                .contacts--department
                    .acc_trigger
                        .icon
                        span Эксплуатация объектов

                    div(style="background: url('../../../img/img--contacts.jpg') no-repeat 100% 0").acc_container
                        ul.contacts-list
                            li
                                span
                                    strong Адрес:

                                p г. Самара, ул. Печерская, 20а

                            li
                                span
                                    strong Телефон:

                                a(href="tel:88462640064") 8 (846) 264-00-64

                            li
                                span
                                    strong Режим работы:

                                p пн-пт 9:00-18:00

                            li
                                span
                                    strong E-mail:

                                a(href="mailto:sale@dkdrevo.ru") sale@dkdrevo.ru

                .contacts--department
                    .acc_trigger
                        .icon
                        span Для подрядчиков

                    div(style="background: url('../../../img/img--contacts.jpg') no-repeat 100% 0").acc_container
                        ul.contacts-list
                            li
                                span
                                    strong Адрес:

                                p г. Самара, ул. Печерская, 20а

                            li
                                span
                                    strong Телефон:

                                a(href="tel:88462640064") 8 (846) 264-00-64

                            li
                                span
                                    strong Режим работы:

                                p пн-пт 9:00-18:00

                            li
                                span
                                    strong E-mail:

                                a(href="mailto:sale@dkdrevo.ru") sale@dkdrevo.ru

                .contacts--department
                    .acc_trigger
                        .icon
                        span Арендаторам

                    div(style="background: url('../../../img/img--contacts.jpg') no-repeat 100% 0").acc_container
                        ul.contacts-list
                            li
                                span
                                    strong Адрес:

                                p г. Самара, ул. Печерская, 20а

                            li
                                span
                                    strong Телефон:

                                a(href="tel:88462640064") 8 (846) 264-00-64

                            li
                                span
                                    strong Режим работы:

                                p пн-пт 9:00-18:00

                            li
                                span
                                    strong E-mail:

                                a(href="mailto:sale@dkdrevo.ru") sale@dkdrevo.ru

                .contacts--department
                    .acc_trigger
                        .icon
                        span Отдел кадров

                    div(style="background: url('../../../img/img--contacts.jpg') no-repeat 100% 0").acc_container
                        ul.contacts-list
                            li
                                span
                                    strong Адрес:

                                p г. Самара, ул. Печерская, 20а

                            li
                                span
                                    strong Телефон:

                                a(href="tel:88462640064") 8 (846) 264-00-64

                            li
                                span
                                    strong Режим работы:

                                p пн-пт 9:00-18:00

                            li
                                span
                                    strong E-mail:

                                a(href="mailto:sale@dkdrevo.ru") sale@dkdrevo.ru

                .contacts--department
                    .acc_trigger
                        .icon
                        span Приемная/PR

                    div(style="background: url('../../../img/img--contacts.jpg') no-repeat 100% 0").acc_container
                        ul.contacts-list
                            li
                                span
                                    strong Адрес:

                                p г. Самара, ул. Печерская, 20а

                            li
                                span
                                    strong Телефон:

                                a(href="tel:88462640064") 8 (846) 264-00-64

                            li
                                span
                                    strong Режим работы:

                                p пн-пт 9:00-18:00

                            li
                                span
                                    strong E-mail:

                                a(href="mailto:sale@dkdrevo.ru") sale@dkdrevo.ru

    footer(data-anchor="").section.footer
        include ../../partials/footer

        <!-- Этот скрипт на сервере всегда удалять -->
        script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/contacts-mobile.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});





