block vars
    - var title='Title'

extends ../../partials/layout

block content
    main
        .object--top(style="background: url('../../../img/bg--gastello-top.jpg') no-repeat 50% 50%")
            .width-wrap
                ul.breadcrumbs
                    li
                        a(href="") Древо
                    li
                        a(href="") Объекты
                    li
                        span Гастелло

                h1 Гастелло

        ul.object--social.mb-70
            li.one-fourth.bg-red
                a(href="")
                    img(src="../../../img/icon--globus-white.svg" alt /)
                    br
                    span гастелло.рф
            li.one-fourth.bg-blue-d
                a(href="")
                    img(src="../../../img/icon--fb-white.svg" alt /)
                    span гастелло.рф
            li.one-fourth.bg-blue-l
                a(href="")
                    img(src="../../../img/icon--vk-white.png" alt /)
                    span гастелло.рф
            li.one-fourth.bg-beige
                a(href="")
                    img(src="../../../img/icon--in-white.svg" alt /)
                    span гастелло.рф

        .width-wrap.justifyed.mb-70
            .one-half
                img(src="../../../img/logo--gastello.jpg" alt /)

            .one-half
                h4.small Концепция
                p Жилой 24-х этажный комплекс из&nbsp;монолитного бетона. На&nbsp;первом этаже располагаются коммерческие площади, имеется подземный паркинг. Несущие конструкции секций жилого дома&nbsp;&mdash; монолитный, железобетонный каркас. Ограждающие конструкции&nbsp;&mdash; керамзитобетонные блоки.

                h4.small Расположение
                p Квадрат застройки в&nbsp;примыкании к&nbsp;ул. Гастелло, Московскому шоссе и&nbsp;ул. Советской Армии.

        .object-slider.fullpage--inner-slider.mb-70
            div(style="background: url('../../../img/img--slider-gastello-1.jpg') no-repeat 50% 50%" alt /)
            div(style="background: url('../../../img/img--slider-avenue-2.jpg') no-repeat 50% 50%" alt /)

        .width-wrap
            .justifyed.mb-70
                .one-half
                    h4.small Основные параметры
                    p Участок площадью 8&nbsp;774&nbsp;кв.&nbsp;м, общая площадь строительства&nbsp;&mdash; 40&nbsp;480&nbsp;кв.&nbsp;м, общая жилая площадь 36 542,4&nbsp;кв.&nbsp;м. Площадь под офисы и&nbsp;магазины&nbsp;&mdash; 3&nbsp;938 кв.м. В&nbsp;крытом паркинге 220&nbsp;машиномест.

                    h4.small Квартирография
                    p  782&nbsp;квартиры, средние площади: 1- комн. квартир&nbsp;&mdash; 39,0&nbsp;кв.&nbsp;м&nbsp;&mdash; 50%, 2- комн. квартир&nbsp;&mdash; 50,0&nbsp;кв.&nbsp;м&nbsp;&mdash; 35%, 3- комн. квартир&nbsp;&mdash; 70,0&nbsp;кв.&nbsp;м.

                .one-half
                    img(src="../../../img/img--gastello-1.jpg" alt /)

            .justifyed.mb-70
                .one-half
                    img(src="../../../img/img--gastello-2.jpg" alt /)
                    img(src="../../../img/img--gastello-3.jpg" alt /)

                .one-half
                    h6 Жилой комплекс Гастелло.РФ&nbsp;&mdash; это дом молодых семей, дом &laquo;первой квартиры&raquo;. Наличие просторного встроенного паркинга соответствует долгосрочным тенденциям автомобилизации. Городской парк, молл дают возможность отдыха и&nbsp;шопинга рядом с&nbsp;домом. Низкая цена за&nbsp;квадратный метр для покупателя не&nbsp;будет означать потерю комфорта. В&nbsp;доме запланированы просторные общие вестибюли, места дл&nbsp;я&nbsp;консьержа, большая детская дворовая площадка.

                    h4.small Сервис и&nbsp;инфраструктура
                    p В&nbsp;комплексе имеются собственные встроенные торговые площади, ориентированные на&nbsp;жителей дома. В&nbsp;300 метрах от&nbsp;комплекса находится городской парк развлечений&nbsp;им. Ю.&nbsp;Гагарина. Рядом находится молл &laquo;Парк Хаус&raquo;. Неподалеку находится ТЦ&nbsp;&laquo;Апельсин&raquo;, гипермаркет &laquo;Матрица&raquo;. Рядом садик и&nbsp;школа.

                    h4.small Юридический статус
                    p Земельный участок находится в&nbsp;аренде. Начало строительства&nbsp;&mdash; 2013&nbsp;год, в&nbsp;конце 2014 года ЖК&nbsp;&laquo;Гастелло.РФ&raquo; введен в&nbsp;эксплуатацию.

        ul.justifyed.object--info
            li.one-third.bg-red
                span 3 938 кв.м.
                    i площадь
                    i под офисы

            li.one-third.bg-green
                span 36 542,4 кв.м.
                    i общая площадь
                    i строительства

            li.one-third.bg-blue
                span 220 машиномест
                    i в крытом
                    i паркинге

        .justifyed
            a(href="" style="background: url('../../../img/bg--gastello-2.jpg') no-repeat 50% 50%").one-half.objects-complex-s
                .content
                    h3
                        strong Продажа
                            i  активов

                        small Гастелло


            a(href="" style="background: url('../../../img/bg--gastello-3.jpg') no-repeat 50% 50%").one-half.objects-complex-s
                .content
                    h3
                        strong Аренда
                            i коммерческой
                            i недвижимости
                        small Гастелло


    footer.section.footer
        include ../../partials/footer

        <!-- Этот скрипт на сервере всегда удалять -->
        script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/avenue-object.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});





