.support-links
  li
    display block
    margin-bottom 25px

    @media sm
      margin-bottom 10px

    a
      display inline-block
      vertical-align top
      color $c_red
      text-decoration underline
      font-size 24px

      @media md
        font-size 20px

      @media sm
        font-size 18px

.program
  .justifyed
    margin-bottom 30px

    @media md
      display block !important

    .one-half
      @media md
        display block
        width 100%

      img
        @media sm
          margin 0 auto !important
          max-width 80% !important

    a
      display block
      color $c_red
      text-decoration underline

  .object--contacts
    @media sm
      padding-top 0
      padding-bottom 10px