block vars
    - var title='Title'

extends ../../partials/layout

block content
    main
        .object--top(style="background: url('../../../img/bg--south-top.jpg') no-repeat 50% 50%")
            .width-wrap
                ul.breadcrumbs
                    li
                        a(href="") Древо
                    li
                        a(href="") Объекты
                    li
                        span Южный город

                h1 Южный город

        ul.object--social.mb-70
            li.one-fourth.bg-red
                a(href="")
                    img(src="../../../img/icon--globus-white.svg" alt /)
                    br
                    span southerncity.ru
            li.one-fourth.bg-blue-d
                a(href="")
                    img(src="../../../img/icon--fb-white.svg" alt /)
                    span @southerncity.ru
            li.one-fourth.bg-blue-l
                a(href="")
                    img(src="../../../img/icon--vk-white.png" alt /)
                    span @southerncity.ru
            li.one-fourth.bg-beige
                a(href="")
                    img(src="../../../img/icon--in-white.svg" alt /)
                    span @southerncity.ru

        .width-wrap.justifyed.mb-70.object--text
            .one-half
                img(src="../../../img/logo--south.svg" alt /).logo

            .one-half
                p Южный город&nbsp;&mdash; самый масштабный проект комплексного развития территории в&nbsp;Поволжье, который дал новый импульс градостроительного развития региона и&nbsp;подтолкнул к&nbsp;освоению &laquo;южного&raquo; направления Самары. Южный город является ярким примером нового подхода в&nbsp;строительстве для Самарской области.
                p За&nbsp;2013-2014 годы построена вся первая очередь проекта Южный город&nbsp;&mdash; а&nbsp;это 189&nbsp;000 кв.м. жилья., 3515&nbsp;квартир, в&nbsp;которых живут более 6&nbsp;000&nbsp;жителей. В&nbsp;рамках первой очереди построены и&nbsp;введены в&nbsp;эксплуатацию детский сад с&nbsp;бассейном на&nbsp;250&nbsp;мест, спортивная аллея и&nbsp;спортивный комплекс с&nbsp;бассейном &laquo;Южный&raquo;.

        .object-slider.fullpage--inner-slider.mb-70
            div(style="background: url('../../../img/img--slider-avenue-1.jpg') no-repeat 50% 50%" alt /)
            div(style="background: url('../../../img/img--slider-avenue-2.jpg') no-repeat 50% 50%" alt /)

        .width-wrap
            .justifyed.mb-70
                .one-half
                    p Осенью 2014 года начато строительство второй очереди проекта Южный город&nbsp;&mdash; это четыре квартала, состоящие из&nbsp;24&nbsp;жилых домов средней этажности (7-9&nbsp;этажей), оборудованных лифтами. В&nbsp;зданиях предусмотрено центральное водоснабжение, отопление, канализация. Первые кварталы второй очереди были сданы в&nbsp;декабре 2015&nbsp;года, вся очередь будет сдана осенью-зимой 2016&nbsp;года. Число жителей Южного города увеличится еще на&nbsp;3985&nbsp;жителя, а&nbsp;общая площадь сданного жилья составит 364000 кв.м.
                    p В&nbsp;настоящий момент, активно строится третья и&nbsp;пятая очереди проекта, в&nbsp;которых возводятся разноформатные дома 7-16&nbsp;этажей, кирпичные и&nbsp;из&nbsp;трехслойных бетонных блоков. Сдача первых квартир в&nbsp;них запланирована на&nbsp;декабрь 2016&nbsp;года.
                    p                       В&nbsp;августе 2016 года в&nbsp;жилом районе Южный город был сдан второй детский сад на&nbsp;300 мест с&nbsp;бассейном, а&nbsp;в&nbsp;2017 году&nbsp;&mdash; школа на&nbsp;1500&nbsp;мест.

                .one-half
                    img(src="../../../img/img--south-1.jpg" alt /)

                    h6 Всего на&nbsp;момент окончания строительства (2032&nbsp;год) Южный город обеспечит новым жильем более 325&nbsp;000&nbsp;человек. Площадь района составит 2067&nbsp;гектаров, а&nbsp;запланированный жилой фонд 6,5&nbsp;млн.&nbsp;кв.&nbsp;м.

            .justifyed.mb-70
                .one-half
                    img(src="../../../img/img--south-2.jpg" alt /)
                    img(src="../../../img/img--south-3.jpg" alt /)

                .one-half
                    p До&nbsp;центра Самары можно добраться менее чем за&nbsp;полчаса. В&nbsp;район курсируют маршруты рейсовых автобусов, которые соединяют Южный город с&nbsp;главными транспортными узлами города: Центральный Автовокзал Самары, Пригородный Автовокзал Самары, автостанция Аврора, Кряж, пл. Революции, Дом Печати, Железнодорожный вокзал, Хлебная площадь, Троицкий рынок.
                    p До&nbsp;центра Самары можно добраться менее чем за&nbsp;полчаса. В&nbsp;район курсируют маршруты рейсовых автобусов, которые соединяют Южный город с&nbsp;главными транспортными узлами города: Центральный Автовокзал Самары, Пригородный Автовокзал Самары, автостанция Аврора, Кряж, пл. Революции, Дом Печати, Железнодорожный вокзал, Хлебная площадь, Троицкий рынок.

        ul.justifyed.object--info
            li.one-third.bg-red
                span Построено
                    i 700 тысяч кв.м.

            li.one-third.bg-green
                span 400 тысяч
                    i жителей

            li.one-third.bg-blue
                span 30 тысяч
                    i квартир сдано

        .justifyed
            a(href="" style="background: url('../../../img/bg--avenue-2.jpg') no-repeat 50% 50%").one-half.objects-complex-s
                .content
                    h3
                        strong Продажа
                            i  активов

                        small Южный город


            a(href="" style="background: url('../../../img/bg--avenue-3.jpg') no-repeat 50% 50%").one-half.objects-complex-s
                .content
                    h3
                        strong Аренда
                            i коммерческой
                            i недвижимости
                        small Южный город


    footer.section.footer
        include ../../partials/footer

        <!-- Этот скрипт на сервере всегда удалять -->
        script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/avenue-object-mobile.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});





