@import 'partials/color';
@import 'partials/responsive';
@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/reset';
@import 'partials/text';

// UI
@import 'ui/btn';
@import 'ui/form';
@import 'ui/input';
@import 'ui/vendor/fullpage';
@import 'ui/vendor/owlcarousel';
@import 'ui/vendor/formstyler';
@import 'ui/vendor/pickmeup';
@import 'ui/vendor/fancy';

// blocks
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/fullpage-slider';

//pages
@import 'pages/pageIndex';
@import 'pages/pageAbout';
@import 'pages/pageProduction';
@import 'pages/pageOccupancy';
@import 'pages/pageNews';
@import 'pages/pageSupport';
@import 'pages/pageUse';
@import 'pages/pageObjects';
@import 'pages/pagePopup';