$c_brown_tr = rgba(94,40,0,0.55);
$c_green_tr = rgba(1,98,5,0.52);
$c_blue_tr = rgba(0,107,152,0.38);
$c_white_tr = rgba(255,255,255,0.4);
$c_beige_tr = rgba(255,230,182,0.84);
$c_black_tr = rgba(0,0,0,0.4);

$c_black = #000000
$c_white = #ffffff
$c_red = #c12934


*.bg-brown-tr
  background $c_brown_tr
*.bg-green-tr
  background $c_green_tr
*.bg-blue-tr
  background $c_blue_tr
*.bg-white-tr
  background $c_white_tr
*.bg-beige-tr
  background $c_beige_tr
*.bg-gray-tr
  background $c_black_tr

*.bg-red
  background #c12934
*.bg-gray
  background #6f6f6f
*.bg-gray-l
  background #b7b7b7
*.bg-blue-d
  background #4260a0
*.bg-blue
  background #3c77ba
*.bg-blue-l
  background #308db8
*.bg-beige
  background #a07a56
*.bg-green
  background #95c640