@font-face {
  font-family: "Exo2Regular";
  src: url("../fnt/Exo2Regular/Exo2Regular.eot");
  src: url("../fnt/Exo2Regular/Exo2Regular.eot?#iefix") format("embedded-opentype"),
  url("../fnt/Exo2Regular/Exo2Regular.woff") format("woff"),
  url("../fnt/Exo2Regular/Exo2Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Exo2Bold";
  src: url("../fnt/Exo2Bold/Exo2Bold.eot");
  src: url("../fnt/Exo2Bold/Exo2Bold.eot?#iefix") format("embedded-opentype"),
  url("../fnt/Exo2Bold/Exo2Bold.woff") format("woff"),
  url("../fnt/Exo2Bold/Exo2Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Exo2Light";
  src: url("../fnt/Exo2Light/Exo2Light.eot");
  src: url("../fnt/Exo2Light/Exo2Light.eot?#iefix") format("embedded-opentype"),
  url("../fnt/Exo2Light/Exo2Light.woff") format("woff"),
  url("../fnt/Exo2Light/Exo2Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Exo2Medium";
  src: url("../fnt/Exo2Medium/Exo2Medium.eot");
  src: url("../fnt/Exo2Medium/Exo2Medium.eot?#iefix") format("embedded-opentype"),
  url("../fnt/Exo2Medium/Exo2Medium.woff") format("woff"),
  url("../fnt/Exo2Medium/Exo2Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Exo2SemiBold";
  src: url("../fnt/Exo2SemiBold/Exo2SemiBold.eot");
  src: url("../fnt/Exo2SemiBold/Exo2SemiBold.eot?#iefix") format("embedded-opentype"),
  url("../fnt/Exo2SemiBold/Exo2SemiBold.woff") format("woff"),
  url("../fnt/Exo2SemiBold/Exo2SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Exo2Thin";
  src: url("../fnt/Exo2Thin/Exo2Thin.eot");
  src: url("../fnt/Exo2Thin/Exo2Thin.eot?#iefix") format("embedded-opentype"),
  url("../fnt/Exo2Thin/Exo2Thin.woff") format("woff"),
  url("../fnt/Exo2Thin/Exo2Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$f_Exo2 = Exo2Regular;
$f_Exo2_s = Exo2SemiBold;
$f_Exo2_m = Exo2Medium;
$f_Exo2_b = Exo2Bold;
$f_Exo2_bl = Exo2Black;
$f_Exo2_ebl = Exo2ExtraBold;
$f_Exo2_l = Exo2Light;
$f_Exo2_el = Exo2ExtraLight;
$f_Exo2_th = Exo2Thin;