
html *
  max-height 999999px //android font-size fix
  -webkit-font-smoothing antialiased
  box-sizing border-box

html
body
  margin 0
  padding 0
  width 100%
  height 100%
  min-width 320px

body
  font-family $f_Exo2_l
  font-size 18px
  line-height 30px
  color $cBlack
  min-height 100%
  height 100%
  position relative
  -webkit-text-size-adjust 100% // ios font-size fix
  background #fff

.page-wrap
  min-height 100%
  position relative
  min-width 320px
  overflow hidden

main
  padding-top 70px
  padding-bottom 76px

  @media sm
    padding-bottom 0

.bg-cover
  background-size cover !important

form,
p,
ul, ol,
dl, dt, dd,
h1, h2, h3, h4, h5, h6
  margin 0 
  padding 0 
  font-weight normal 
  list-style none

/***** ie fix ****/
a img
  border none

img
  max-width 100%

  @media sm
    max-width calc(100% + 30px) !important

// .section

.pull-right
  float right

.pull-left
  float left

.text-center
  text-align center

.text-right
  text-align right
   
.section
  position relative

.justifyed
  display flex !important
  justify-content  space-between
  align-items flex-start

  @media sm
    display block !important

// отступы между горизонтальными li
ol, ul, .grid
  list-style none 
  font-size:0 
  line-height:0 
  letter-spacing:-1px

li, .grid-item
  line-height:normal 
  letter-spacing:normal 
  display:inline-block 
  vertical-align top 
  zoom:1

.hidden-block
  display none !important

.one-third
  width 33.33%
.two-third
  width 66.67%
.one-fourth
  width 25%
.one-half
  width 50%

  img
    display block
    margin 0 auto 55px
    max-width 100%

    @media sm
      max-width calc(100% + 30px) !important
      margin 0 -15px 30px

    &:last-child
      margin-bottom

  h4,
  h3
    margin-bottom 20px

    &:last-child
      margin-bottom 0

.width-wrap
  display block
  margin 0 auto
  width 1065px

  @media md
    width 565px

  @media sm
    width 100%
    padding 0 15px

  .one-third
    width 350px
  .two-third
    width 685px
  .one-half
    width 490px

    @media md
      display block
      width 100%
      margin-bottom 30px

    @media sm
      margin-bottom 10px

    &:last-child
      @media md
        margin-bottom 0

    img
      display block
      margin 0 auto 55px
      max-width 100%

      @media sm
        margin 0 -15px 30px

      &:last-child
        margin-bottom

    h4,
    h3,
    h5
      margin-bottom 20px

      &:last-child
        margin-bottom 0

      @media sm
        margin-bottom 5px

  & > .justifyed
    margin-bottom 80px

    @media md
      display block !important

    &:last-child
      margin-bottom 0

.load-container
  padding-bottom 90px

  @media sm
    padding-bottom 45px

.mb-70
  margin-bottom 70px !important

  @media sm
    margin-bottom 30px !important

.pt-70
  padding-top 70px

  @media sm
    padding-top 30px !important

.pt-140
  padding-top 140px

  @media md
    padding-top 100px
