.popup-slider.fullpage--inner-slider
    .popup-slider--el
        .popup-slider--el--top
            h4 Секция 1 Этаж 1
            a(href="").popup-slider--el-download
                img(src="../../../img/icon--download.svg")

        img(src="../../../img/img--scheme.jpg" alt /)

    .popup-slider--el
        .popup-slider--el--top
            h4 Секция 1 Этаж 2
            a(href="").popup-slider--el-download
                img(src="../../../img/icon--download.svg")

        img(src="../../../img/img--scheme.jpg" alt /)


script(type="text/javascript" ) $(function(){$('.fullpage--inner-slider').owlCarousel({margin: 0,loop: true,nav: true,dots: true,navText: [,],autoplay: true,items: 1});})
