block vars
    - var title='Title'

extends ../../partials/layout

block content
    main
        .width-wrap.use
            ul.breadcrumbs
                li
                    a(href="") Древо
                li
                    span Эксплуатация объектов

            h1 Эксплуатация объектов
                small  ООО УК «Юг-сервис»

            .justifyed
                .one-half
                    img(src="../../../img/img--use.jpg" alt /)

                    h5
                        strong Главная задача УК&nbsp;&laquo;ЮГ-СЕРВИС&raquo;&nbsp;&mdash; оказание качественных услуг потребителям, и&nbsp;максимально эффективное управление вверенной территорией и&nbsp;имуществом.

                    h5
                        a(href="http://www.ugservis.su/" target="_blank") www.ugservis.su

                .one-half
                    p ООО &laquo;Управляющая компания &laquo;ЮГ-СЕРВИС&raquo; работает в&nbsp;сфере ЖКХ с&nbsp;2013 года и&nbsp;занимается эксплуатацией жилого и&nbsp;нежилого фонда. Изначально компания создавалась с&nbsp;целью управления градостроительным проектом федерального масштаба Южный город.

                    p Сегодня в&nbsp;зоне ответственности УК&nbsp;&mdash; 83&nbsp;дома&nbsp;в&nbsp;
                        a(href="") Южном городе
                        =", т.е. почти все три очереди проекта."

                    h5 Основные направления деятельности &laquo;ЮГ-СЕРВИС&raquo;:

                    ul.text
                        li Оперативное техническое обслуживание и&nbsp;модернизация недвижимости с&nbsp;использованием современных технологий и&nbsp;материалов в&nbsp;соответствии с&nbsp;требованиями собственника и&nbsp;государственными стандартами качества предоставляемых услуг;
                        li Содержание и&nbsp;текущий ремонт инженерных сетей;
                        li Аварийно-диспетчерское обслуживание;
                        li Благоустройство окружения и&nbsp;охрана мест общего имущества многоквартирных домов;
                        li Организация сбора платежей с&nbsp;населения за&nbsp;жилищно-коммунальные услуги, РКО;
                        li Выбор подрядчика по&nbsp;выполнению работ и&nbsp;поставке ресурсов для предоставления жилищно-коммунальных услуг надлежащего качества и&nbsp;объема, заключение договоров и&nbsp;осуществление контроля за&nbsp;исполнением обязательств по&nbsp;ним.

    footer.section.footer
        include ../../partials/footer

        <!-- Этот скрипт на сервере всегда удалять -->
        script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/use-tablet.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});





