block vars

.width-wrap
    .justifyed
        .footer--left
            ul.footer-projects
                li.footer-projects--el
                    a(href="")
                        img(src="../../../img/icon--fb.png")
                    a(href="")
                        img(src="../../../img/icon--in.png")
                    a(href="")
                        img(src="../../../img/icon--vk.png")
                    a(href="").footer-projects--el-name 3 авеню

                li.footer-projects--el
                    a(href="")
                        img(src="../../../img/icon--fb.png")
                    a(href="")
                        img(src="../../../img/icon--in.png")
                    a(href="")
                        img(src="../../../img/icon--vk.png")

                    a(href="").footer-projects--el-name Печёра

                li.footer-projects--el
                    a(href="")
                        img(src="../../../img/icon--fb.png")
                    a(href="")
                        img(src="../../../img/icon--in.png")
                    a(href="")
                        img(src="../../../img/icon--vk.png")
                    a(href="").footer-projects--el-name Гастелло

                li.footer-projects--el
                    a(href="")
                        img(src="../../../img/icon--fb.png")
                    a(href="")
                        img(src="../../../img/icon--in.png")
                    a(href="")
                        img(src="../../../img/icon--vk.png")
                    a(href="").footer-projects--el-name Южный город

                li.footer-projects--el
                    a(href="")
                        img(src="../../../img/icon--fb.png")
                    a(href="")
                        img(src="../../../img/icon--in.png")
                    a(href="")
                        img(src="../../../img/icon--vk.png")
                    a(href="").footer-projects--el-name Желябово.рф

        .footer--right
            span.strong ООО «ДК «Древо»
            span.strong г. Самара, ул. Неверова, 33
            a(href="tel:88007005522").strong 8-800-700-55-22

    .justifyed
        .footer--left.mobile-position
            span © 2017 ДК «ДРЕВО»
            a(href="").underline Карта сайта

        .footer--right
            span Мы в соцсетях
            ul.social
                li
                    a(href="")
                        img(src="../../../img/social--gm.jpg")
                li
                    a(href="")
                        img(src="../../../img/social--fb.jpg")
                li
                    a(href="")
                        img(src="../../../img/social--tw.jpg")
                li
                    a(href="")
                        img(src="../../../img/social--in.jpg")

            p Обращаем ваше внимание, что вся информация, размещенная на&nbsp;сайте, носит ознакомительный характер и&nbsp;не&nbsp;является публичной офертой.

    .justifyed
        .footer--left
            span.gray Разработка сайта —
                a(href="" target="_blank").underline RuMaster

        .footer--right
            a(href="" class="fancybox.ajax").fancy.underline Политика конфиденциальности



