block vars

header.header

    .width-wrap.justifyed
        nav
            a(href="").header--logo
                img(src="../../../img/logo--header.svg" alt /)

            a(href="").header--hamburger.js--open-menu
                svg(viewBox="0 0 20 10" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0,10H20V8H0ZM0,6H20V4H0ZM0,2H20V0H0Z")

            ul.header--nav
                li.js--open-dropdown
                    a(href="") О компании

                    .dropdown
                        ul
                            li
                                a(href="") Инвесторам
                            li
                                a(href="") Господдержка
                            li
                                a(href="") Вакансии

                li.js--open-dropdown
                    a(href="") Объекты

                    .dropdown
                        ul
                            li
                                a(href="") 3 авеню
                            li
                                a(href="") Печёра
                            li
                                a(href="") Гастелло
                            li
                                a(href="") Южный город
                            li
                                a(href="")  Желябово.рф


                li.js--open-dropdown
                    a(href="") Управление недвижимостью

                    .dropdown
                        ul
                            li
                                a(href="") Эксплуатация объектов
                            li
                                a(href="") Аренда И&nbsp;ПРОДАЖА АКТИВОВ

                li
                    a(href="") Производство
                li
                    a(href="") Новости
                li
                    a(href="") Подрядчикам и поставщикам


        a(href="").header--lk Кабинет поставщика
